
body {
  /* Typography */
  font-size: 18px;
  line-height: 27px;

  /* Visual */
  background-color:lightgray;
  color: grey;
}

* {
  box-sizing: border-box;
}

/*Nav bar and brand Links formating */
header{
  background-color:whitesmoke;
  border-bottom: 1px solid darkgrey;
  width: auto;
}

 a {
    color: grey;     
    text-decoration: none;
    padding: 5px;    
    margin-bottom: 0px;

}

.navbar-light
.navbar-brand {
    font-family: serif;
    font-weight: bolder;
    text-align: center;  
    background-color:#4AAAA5;
    color:white;
    padding: 20px;
    width: 200px;
} 

h1{
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: #4AAAA5;
  border-bottom: 1px solid darkgrey;
}
 .img-thumbnail {
    height: 200px;
    width: 200px;
} 

.btn{
  background-color:#4AAAA5;
  border-color: #4AAAA5;
    color:white;
}


/*set up the body background color */

  /*
    The background color will be #ccc
    at browser widths above 768px
  
    The width of the wrapper will be 1024px
    at browser widths above 768px
  */

  .wrapper {
    /* Box-model */
    width: 1024px;
    margin: 40px auto;
  }
  
  #main-content
 {
    /* Box-model */
    height: 100%;
    width: 100%;
    padding: 30px;
    /* Positioning */
    float: left;
  
    /* Visual */
    background: white;
    margin-bottom: 20px;
  }
  
 footer{
  text-align: center;
  background-color: darkgrey;
  color:whitesmoke;
  border-top:5px solid #4AAAA5;
  padding: 20px;
  position: bottom fixed;
  width: 100%;
  clear: both;
  
}
  
 
  
  @media screen and (max-width: 768px) {
    body {
      background-color: whitesmoke;
    }
  
    .wrapper {
      /* Box-model */
      width: 100%;
      padding: 20px;
    }
  
    #main-content   {
      width: 100%;
    }
   
    footer{
      clear: both;
    }
  }
  
  /* Additional Screen Sizes */
  
  /* Width at 640px and below */
  @media screen and (max-width: 640px) {
    body {
      background-color: lightgray;
    }
  
    .wrapper {
      /* Box-model */
      width: 100%;
      padding: 20px;
    }
  
    #main-content{
      width: 100%;
    }
    footer{
      clear: both;
    }
  
    .navbar-brand {   
      width: 100%;
    } 
  
   h1{
    width: 100%;
    } 

  }
  
 