

header{
  background-color: white;
  border-bottom: 1px solid grey;
  color: black;
  width: 1024px;
}


/*Nav bar and brand Links formating */

/* a {
    /* color: #ffffff; */
    
    text-decoration: none;
    padding: 5px; 
    
    margin-bottom: 0px;
} */

.header-navbar-brand {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    text-align: center;    
    color:white;
    background-color:#4AAAA5;
    width: 200px;
     
    
    /* margin: 20px; */
} 

body {
  /* Typography */
  font-size: 18px;
  line-height: 27px;

  /* Visual */
  background-color: whitesmoke;
  color: grey;
}

* {
  box-sizing: border-box;
}

h1{
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: #4AAAA5;
}
.content img {
    max-height: 200px;
}



/*set up the body background color */

 
  
  /*
    The background color will be #ccc
    at browser widths above 768px
  */
 
  
  /*
    The width of the wrapper will be 1024px
    at browser widths above 768px
  */
  .wrapper {
    /* Box-model */
    width: 1024px;
  
    /* Positioning */
    margin: 40px auto;
  }
  
  #main-content
 {
    /* Box-model */
    width: 500px;
    padding: 30px;
    /* Positioning */
    float: left;
  
    /* Visual */
    background: #fff;
  }
  
 
  
 
  
  @media screen and (max-width: 768px) {
    body {
      background-color: #333;
    }
  
    .wrapper {
      /* Box-model */
      width: 100%;
      padding: 20px;
    }
  
    #main-content,
   {
      width: 100%;
    }
  
    /* #sidebar {
      margin-top: 40px;
    } */
  }
  
  /* Additional Screen Sizes */
  
  /* Width at 320px and below */
  @media screen and (max-width: 320px) {
    body {
      background-color: #333;
    }
  
    .wrapper {
      /* Box-model */
      width: 100%;
      padding: 20px;
    }
  
    #main-content,
    #sidebar {
      width: 100%;
    }
  
    #sidebar {
      margin-top: 40px;
    }
  }
  
  /* Width at 168px and below */
  @media screen and (max-width: 168px) {
    body {
      background-color: #333;
    }
  
    .wrapper {
      /* Box-model */
      width: 100%;
      padding: 20px;
    }
  
    #main-content,
    {
      width: 100%;
    }
  
    #sidebar {
      margin-top: 40px;
    }
  }